* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* BACKGROUND COLORS FOR TESTING  */

header {
    background-color: aquamarine;
}

ul {
    background-color: cadetblue;
}


/* ============================== */

.container {
    margin: 0 auto;
    width: 1468px;
}

header {
    width: 1468px;
    height: 538px;
}

header h1 {
    width: 980px;
    height: 100px;
    overflow: hidden;
}

header h1 img {
    width: 980px;
    height: 104px;
}

header h3 {
    overflow: hidden;
    width: 980px;
    height: 34px;
}

header h3 img {
    width: 980px;
    height: 64px;
}

header h1,
header h2,
header h3 {
    margin: auto;
    text-align: center;
}

li {
    display: inline-block;
}